.btn {
    
    @extend .NAVBAR-BUTTON;

    background-color: rgb(179, 170, 175);
    height: 40px;
    
    &_light {
        border-width: 1px;
        background-color: white;
        border-style: solid;
        height: 38px;
    }
}