.layout{
    width: 100%;
    height: 100%;
    background-color: #f9f8f6;
    display: flex;
    flex-direction: column;
    &__main{
        display: flex;
        flex-direction: row;
        flex-grow: 2;
    }
    &__nav{
        display: flex;
        flex-grow: 1;
    }
}