mixin navbar(currentPage)
    nav.navbar
        .navbar__menu
            .navbar__links
                ul
                  each val in menuItems
                    +renderList(val,currentPage)
            .navbar__container
                +button("Raffeisen-Online")
                +button("R-Dealler","light")
        .navbar__footer
            .navbar__download
                +pdfIcon()
                +pdfButton('Скачать "услуги PWR"')
            .navbar__about="© 2009-2017 АО «Райффайзенбанк»"
    block

//- Рендерим список страниц
mixin renderList(val,currentPage)
    -if(val.isSeparator === true)
        li
            +hLine()
    -else
        li(class=(val.id==currentPage ? "active-item" : "")) #[a(href=val.href)= val.title]