.navbar {
  border-width: 1px;
  border-color: #f2f1f1;
  border-style: solid;
  background-color: #f2f1f1;
  padding: 55px;
  width: 220px;

  &__menu{
    
  }

  &__links {
    @extend .NAVBAR-LINK;
  }

  &__footer {
    position: absolute;
    bottom:0;
    background-color: #f8f7f7;
    margin-bottom: 40px;
  }

  &__download {
    padding-bottom: 20px;
  }

  &__about {
    @extend .FOOTER-INFO;
  }

  & a {
    text-decoration: none;
    color: rgb(76, 52, 64);
    cursor: pointer;

    &:visited {
      color: rgb(76, 52, 64);
    }
    &:hover {
      color: rgba(76, 52, 64, 0.502);
    }
    &:active {
      color: rgb(76, 52, 64);
    }
  }

  & li {
    margin: 20px 0;
  }

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}