.navbar {
  border-width: 1px;
  border-color: #f2f1f1;
  border-style: solid;
  background-color: #f2f1f1;
  width: 317px;
  padding: 30px;
  &__menu {

  }

  &__links {
    @extend .NAVBAR-LINK;
  }

  &__container {
    @extend .NAVBAR-BUTTON;
  }

  &__footer {
    position: absolute;
    bottom: 0px;
    background-color: #f8f7f7;
  }

  &__download {
    @extend .FOOTER-LOADER;
  }

  &__about {
    @extend .FOOTER-INFO;
  }

  & a {
    text-decoration: none;
    color: rgb(76, 52, 64);
    cursor: pointer;

    &:visited {
      color: rgb(76, 52, 64);
    }
    &:hover {
      color: rgba(76, 52, 64, 0.502);
    }
    &:active {
      color: rgb(76, 52, 64);
    }
  }

  & li {
    margin: 20px 0;
  }

  & ul {
    list-style-type: none;
  }
}