
<html>
  <head>
    <link href="style/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="layout">
      <div class="layout__main">
        <header class="header">
          <div class="header__logo"></div>
          <div class="header__bar">
            <div class="header__number">+7 (495) 662 76 77</div>
            <div class="v-line"></div>
            <div class="header__switch-lang">
              <select name="langSwitch">
                <option value="RU" selected="selected">RU</option>
                <option value="EU">EU</option>
                <option value="DE">DE</option>
              </select>
            </div>
          </div>
        </header>
        <div class="page"><img class="page__image"/>
          <div class="page__content">
            <h1 class="page__title">Контент не определен !!! Нужно задать переменную currentPage.</h1>
            <div class="page__text-content">
            </div>
          </div>
        </div>
      </div>
      <div class="layout__nav">
        <nav class="navbar">
          <div class="navbar__menu">
            <div class="navbar__links">
              <ul>
                <li class="active-item"><a href="#save_and_multiply">Сохранить и преумножить</a></li>
                <li><a href="#get_finances">Получить финансирование</a></li>
                <li><a>Решение для вашего бизнеса</a></li>
                <li><a>Расчётно-кассовое обслуживание</a></li>
                <li><a>Решение для вашей семьи/Консалтинг</a></li>
                <li>
                  <div class="hLine"></div>
                </li>
                <li><a>О нас</a></li>
                <li><a>Контактная информация</a></li>
              </ul>
            </div>
            <div class="navbar__container">
              <button class="btn">Raffeisen-Online</button>
              <button class="btn_light">R-Dealler</button>
            </div>
          </div>
          <div class="navbar__footer">
            <div class="navbar__download">
              <div class="pdf-icon"></div>
              <button class="btn-download">Скачать "услуги PWR"</button>
            </div>
            <div class="navbar__about">© 2009-2017 АО «Райффайзенбанк»</div>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>