include ../../build/build.pug

block vars
    - var currentPage="defaultPage";

html
    head
        link(href='style/style.css' rel="stylesheet")

    body
        +layout("layout")
            .layout__main
                +header()
                block content
                    +page(pageContents[currentPage])
            .layout__nav
                +navbar("save_and_multiply")