include ../../build/build.pug

block vars
    - var currentPage="defaultPage";

html
    head
        link(href='style/style.css' rel="stylesheet")

    body
        +layout("layout")
            
            +header()
            
            block content
                +page(pageContents[currentPage])
            
            +navbar("save_and_multiply")