.page{
    display: flex;
    &__image{
        width: 500px;
        height: 500px;
    }
    &__content{
        display: flex;
        flex-direction: row;
    }
    &__text-content{
        display: flex;
        flex-direction: row;
    };
    &__title{
        @extend .CONTENT-TITLE;
    };
    &__text{
        display: flex;
        padding: 20px;
        @extend .CONTENT-TEXT;
    };
}