include ../build/build.pug

html
    head
    body
        +layout("layout")
            +header("head")
            +page(pageContents["save_and_multiply"])
            +navbar("save_and_multiply")
                