html
    head
    body
        .layout
            head.header
                .header__logo
                .header__bar
                    .header__number
                    .v-line
                    .header__switch-lang
            .page
                .page__image
                .page__content
                    .page__title
                        h1 Сохранить и преумножить
                    .page__text
                        p.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Sint eligendi ad, dolore quo hic sapiente perferendis delectus, 
                            animi commodi quidem totam quod beatae, maiores ex eos! Minima nam ducimus aliquid!
                    .page__text
                        p.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi 
                            voluptatem doloremque quasi commodi deserunt fugit ad, nam qui 
                            incidunt ducimus nobis asperiores saepe, accusantium architecto 
                            voluptates perspiciatis possimus non nihil?
            nav.navbar
                .navbar__menu
                    .navbar__links
                        ul
                            li Сохранить и преумножить
                            li #[div.h-line]
                    .navbar__container
                        button.btn Raffeisen-Online
                        button.btn_light R-Dealler
                .navbar__footer
                    .navbar__donwoald
                        .pdf-icon
                        button.btn-donwoald Скачать "услуги PWR"
                    .navbar_about
                        2009-20017
                