.hLine {
    border-width: 1px;
    border-color: rgb(109, 91, 102);
    border-style: solid;
    background-color: rgb(108, 91, 101);
    opacity: 0.2;
    position: absolute;
    left: 1340px;
    top: 459px;
    width: 62px;
    height: 0;
}
